.mainSidebar {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}

.mainContent {
    background-color: lightblue;
    padding: 10px;
}

.mainFooter {
    color: white;
    background-color: purple;
    padding: 10px;
    height: 50px;
}

.mainHeader {
    color: white;
    background-color: purple;
    padding: 10px;
    height: 50px;
}

.mainContainer {
    display: flex;
    min-height: calc(100vh);
    flex-direction: column;
}